
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auth</title>
</head>
<body>
    <h1>LOGİN !</h1>
    <a href="/"> Click Here</a> to homepage
</body>
</html>
